<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/ico/leaf.ico">
 
    <title>Teralytics Data Challenge - Javiera Guedes {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/font-awesome.min.css" rel="stylesheet">
	<link href="../static/css/my.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
	 rel="stylesheet"> 
	 
     <style type="text/css">
 circle.node {
   cursor: pointer;
   stroke: #000;
   stroke-width: .5px;
 }

 circle.node.directory {
   stroke: #9ecae1;
   stroke-width: 2px;
 }

 circle.node.collapsed {
   stroke: #555;
 }

 .nodetext {
   fill: #252929;
   font-weight: bold;
   text-shadow: 0 0 0.2em white;
 }

 line.link {
   fill: none;
   stroke: #9ecae1;
   stroke-width: 1.5px;
 }
     </style>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">
			  <i class="fa fa-pagelines"></i>BEAUTIFUL DATA</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			{% block menu %}

			{% endblock %}
            <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

{% block content %}
{% endblock %}

	
<div id="r">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h4> Teralytics Data Challenge</h4>
				<p> This page was created by Javiera Guedes in March 2014.</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><! -- r wrap -->

	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="http://www.linkedin.com/pub/javiera-guedes/53/195/5ab">
					<i class="fa fa-linkedin"></i></a>
				<a href="https://github.com/javierahermosa/TDC">
					<i class="fa fa-github"></i></a>
				<a href="https://webhome.phys.ethz.ch/~jguedes/">
					<i class="fa fa-dribbble"></i></a>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">contact me</h4>
	      </div>
	      <div class="modal-body">
	
		        <div class="row centered">

					<img class="img-circle" width="140" height="auto" alt="" src="{{ url_for('static', filename='img/jg.jpg') }}" ></img>
				
		        	<h2>Javiera Guedes</h2>
		        	<p>
		        		Reinhold-Frei-Strasse 63<br/>
						8049 Zurich, Switzerland<br/>
						+1 (831) 239-7114<br/>
						<a href="mailto:javierahermosa@yahoo.com">javiguedes@gmail.com</a>
		        	</p>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Got it</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
	
  </body>
</html>