{% extends "base.html" %}
{% block headtitle %} - Basics{% endblock %}

{% block menu %}
<li><a href="{{ url_for('index') }}">HOME</a></li>
<li class="active"><a href="{{ url_for('basics') }}">BASICS</a></li>
<li><a href="{{ url_for('challenge') }}">CHALLENGE</a></li>
<li><a href="{{ url_for('beyond') }}">BEYOND</a></li>
<li><a href="#">ABOUT</a></li>
{% endblock %}

{% block content %}
	<!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h2> BASIC FEATURES OF THE DATA</h2>
				
				<h3 class="text-left"> Before diving into the challenge, I take a quick look at the data.</h3>
				
				<h3 class="text-left"> 1. What's the size of the dataset? We have cell phone traces associated with two malls. There are <b>9,195</b> traces for Mall G and <b>50,294</b> traces from Mall S collected over a period of two weeks, from Jan 13th - Jan 26th, 2014. </h3>
				
				<h3 class="text-left"> 2. How many unique users are there? The Mall G and Mall S datasets have <b>5,959</b> and <b>33,797</b> unique users, respectively.</h3>
					
				<h3 class="text-left"> 3. What fraction of  users visit the malls only once in the two-week period? Most users visit the malls just once. Mall G and Mall S received a total of <b>85%</b> and <b>76.8%</b> unique visits, respectively (see figure below). </h3>
				
			
				<br>
				<div class="col-lg-6">
					<div>
					<a href="#"><img class="img-rounded" src="{{ url_for('static', filename='img/pie_visitors_MallG.png') }}" alt="" height="342" width="auto"></a>
					</div>
				</div>

				<div class="col-lg-6">
					<!-- <div class="tilt"> -->
					<a href="#"><img class="img-rounded" src="{{ url_for('static', filename='img/pie_visitors_MallS.png') }}" alt="" height="342" width="auto"></a>
					<!-- </div> -->
				</div>
				<p>&nbsp</p>
				
				<h3 class="text-left">  4. How much time do visitors spend at the mall? The median visit duration for Malls G and S are <b>1.1 hrs</b> and <b>1.6 hrs</b>, respectively. The average for Malls G and S is <b>1.4 hrs</b> and <b>1.9 hrs</b>. Because the mean is more strongly affected by outliers, we expect to see a right-skewed distribution of visit durations in both malls. </h3>
				
				<h3 class="text-left"> 5. How many events per trace are most typical? Between <b>2</b> and <b>10</b> events. In rare cases, traces have over <b>100</b> events.  </h3>
						
				<h3 class="text-left"> 6. Are there any users that visit both Malls? The users at Mall G and Mall S are different and must be treated independently. Even though <b> 418 </b> user IDs are present in both datasets, their residency zip codes don't match, and therefore we can't assume a connection between them. </h3>
				
				<h3 class="text-left"> 7. Are there any potential biases in the data? The dataset for Mall G is small compared to that of Mall S, but we don't know whether this difference is due to sampling or whether Mall G is intrisically smaller. Also, we  have <b>traces for one cell phone company only</b>. That would be a problem if our phone company is particularly popular or unpopular with the visitors of our malls. Also, not all traces are necesarily associated with events at the mall, but we assume that the dataset is dominated by true visits. </h3>
		
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->


{% endblock %}
